<!DOCTYPE html>
<html>
    <head>
        <title>
            Ashoka Academy
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    </head>
    <body>
        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 padding">
            <div class="card">
                <div class="card-header p-4">
                    <h3 class="pt-2 d-inline-block">Ashoka Academy</h3>
                    <div class="float-right">
                        <h3 class="mb-0">Date {{payload.date}}</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-sm-6 ">
                            <h3 class="text-dark mb-1">{{payload.client_name}}</h3>
                            <div>{{payload.client_address_1}}</div>
                            <div>{{payload.client_address_2}}</div>
                            <div>Phone: {{payload.client_number}}</div>
                        </div>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="center">#</th>
                                    
                                    <th>Description</th>
                                    <th class="right">Value</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="center">1</td>
                                    <td class="left strong">Amount</td>
                                    
                                    <td class="right">{{payload.total_amount}}</td>
                                    
                                </tr>
                                <tr>
                                    <td class="center">2</td>
                                    <td class="left">Course</td>
                                    
                                    <td class="right">{{payload.client_course}}</td>
                                    
                                </tr>
                                <tr>
                                    <td class="center">3</td>
                                    <td class="left">Advance Paid</td>
                                   
                                    <td class="right">{{payload.advance}}</td>
                                    
                                </tr>
                                <tr>
                                    <td class="center">4</td>
                                    <td class="left">Balance</td>
                                    
                                    <td class="right">{{payload.due}}</td>
                                    
                                </tr>
                                <tr>
                                    <td class="center">5</td>
                                    <td class="left">Pay Method</td>
                                    
                                    <td class="right">{{payload.paymethod}}</td>
                                
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <p class="mb-0">Ashoka Academy, Salunke Vihar Road, near saraswat Bank, Pune 9922423399,
                        ashoka027@gmail.com</p>
                </div>
            </div>
        </div>
    </body>
</html>